@font-face {
               font-family: myFont;
               src: url('Merienda-Bold.ttf');
             }
body{
                height: 100vh;
                width: 100vw;
                margin: 0;
                padding: 0;
                scroll-behavior: smooth;
                background: var(--light-font-color);
                user-zoom: none;
                -webkit-tap-highlight-color: none;
                
            }
            body::-webkit-scroll-bar{
                width: 10px;
                height: 30px;
            }
            body::-webkit-scroll-bar-thumb{
                background: #00E4FF;
                border-radius: 10px;
            }
            :root{
               --theme:linear-gradient(to top left, #CC9C21, #EFD0B1);
               --dark-font-color:#434343;
               --light-font-color:#F9F9F9;
               --nav-bg:#5E5E5E;
             }
             *{
               box-sizing: border-box;
               -moz-box-sizing: -moz-border-box;
               -webkit-box-sizing: border-box;
             }
             #nav_bar{
               border-bottom: 2px solid #eeeeee9c;
               background: var(--nav-bg);
               display: flex;
               height: 55px;
               width: 100vw;
               place-items: center;
               padding-left: 15px;
               position: fixed;
               z-index: 9998;
             }
             #nav_bar_dd{
               background: var(--theme);
               width: 2.1rem;
               height: 2.1rem;
               background-repeat: no-repeat;
               color: transparent;
               background-clip: text;
               -webkit-background-clip: text;
               font-weight: 1000;
               font-size: 2rem;
               text-align: right;
               border: 1px solid #eee;
               display: flex;
               place-content: center;
               place-items: center;
               border-radius: 5px;
               user-select: none;
               -ms-user-select: none;
               -webkit-user-select: none;
               -moz-user-select: none;
               box-shadow: inset #6F6F6FDB 4px 4px 6px,
    inset #4E4E4EDB -3px -3px 3px;
               
             }
             #sidebar{
               background: #000000ED;
               width: 60vw;
               padding: 10px 10px;
               display: flex;
               position: fixed;
               top: 0px;
               flex-direction: column;
               border-top-right-radius: 5px;
               border-bottom-right-radius: 5px;
               z-index: 9999;
               transform: translate(-100vw,-100vh);
               gap: 30px;
               transition: transform 1s;
             }
             .sb_link{
               text-decoration: none;
               color: #FFFFFF9C;
               font-weight: bold;
               font-size:7mm;
               border-radius: 5px;
             }
             .sb_link:hover{
               border-right: 2px solid #eeeeee9c;
               border-bottom: 2px solid #eeeeee9c;
             }
             #sb:hover>#sidebar{
               transform: translate(0px,0px) rotateZ(360deg);
               
             }
             #imgc{
               position: absolute;
               width: 100%;
               display: flex;
               place-content: center;
               top: 60px;
             }
             #pro_pic{
               border-radius: 200px;
               border: 2px solid #eeeeee9c;
               place-self: center;
               box-shadow: 0 0 10px #000000DB;
             }
             #bio{
               position: absolute;
               color: var(--dark-font-color);
               font-weight: 800;
               font-family: myFont, serif;
               top: 230px;
               font-size: 1.4rem;
               width: 100%;
               display: flex;
               place-content: center;
               flex-direction: column;
               text-align: center;
               border-bottom: 3px solid #BCBCC1;
               border-radius: 10px;
             }
             #bio a{
               text-decoration: none;
               color: powderblue;
               font-family: myFont;
             }
             b{
               font-weight: 1000;
             }
             @media only screen and (min-width: 480px) {
         .col-md-1 { width: 8.33333333% }
         .col-md-2 { width: 16.66666667% }
         .col-md-3 { width: 25% }
         .col-md-4 { width: 33.33333333% }
         .col-md-5 { width: 41.66666667% }
         .col-md-6 { width: 50% }
         .col-md-7 { width: 58.33333333% }
         .col-md-8 { width: 66.66666667% }
         .col-md-9 { width: 75% }
         .col-md-10 { width: 83.33333333% }
         .col-md-11 { width: 91.66666667% }
         .col-md-12 { width: 100% }
      }
      @media only screen and (min-width: 768px) {
         .col-l-1 { width: 8.33333333% }
         .col-l-2 { width: 16.66666667% }
         .col-l-3 { width: 25% }
         .col-l-4 { width: 33.33333333% }
         .col-l-5 { width: 41.66666667% }
         .col-l-6 { width: 50% }
         .col-l-7 { width: 58.33333333% }
         .col-l-8 { width: 66.66666667% }
         .col-l-9 { width: 75% }
         .col-l-10 { width: 83.33333333% }
         .col-l-11 { width: 91.66666667% }
         .col-l-12 { width: 100% }
      }
      .start::after {
         content: "";
         display: block;
         clear: both;
      }
      [class*="col-"] {
         width: 100%;
         float: left;
      }
      #sbht{
        font-size: 45px;
        color: #eeeeee5f;
        background: linear-gradient(to top left,#FF9900ED,#FFED00ED,#E53A0DED);
        color: transparent;
               background-clip: text;
               -webkit-background-clip: text;
               font-weight: 1000;
               text-shadow: 0 0 10px;
               margin-top: 20px;
               border-bottom: 2pt solid #eeeeee5f;
      }
      #fht{
        font-size: 30px;
        color: #eeeeee5f;
        background: linear-gradient(to top left,#FF9900ED,#FFED00ED,#E53A0DED);
        color: transparent;
               background-clip: text;
               -webkit-background-clip: text;
               font-weight: 1000;
               text-shadow: 0 0 10px;
               margin-top: 20px;
               border-top: 2pt solid #eeeeee5f;
      }
